<div style="width: auto; margin-left: 20px; margin-right: 20px;">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link @Model.Select("Companies")" id="companies" asp-action="companies">Компании</a></li>
        <li class="nav-item"><a class="nav-link @Model.Select("Drivers")" id="drivers" asp-action="drivers">Водители</a></li>
        <li class="nav-item"><a class="nav-link @Model.Select("Transport")" id="transport" asp-action="transport">Транспорт</a></li>
        <li class="nav-item"><a class="nav-link @Model.Select("Users")" id="users" asp-action="users">Сотрудники</a></li>
        <li class="nav-item"><a class="nav-link @Model.Select("Addresses")" id="users" asp-action="users">Адреса</a></li>
    </ul>
</div>
